{
	"cache_sizes": [0.0005],
	"traces": ["~/Data/FIU/madmax-110108-112108.5.blkparse"],
	"request_count_type": "unique",

	"algorithms": ["lru", "arc", "lecar"],

	"lecar": {
		"learning_rate": 0.5
	},

	"graphs": {
		"hit-rate": [
		{
			"algorithms": ["lru", "arc", "lecar"],
			"labels": ["hit-rate"],
			"ylabel": "hit-rate",
			"show_xticks": false
		},
		{
			"algorithms": ["arc"],
			"labels": ["p_value"],
			"ylabel": "p_value",
			"show_xticks": false
		},
		{
			"algorithms": ["lecar"],
			"labels": ["W_lru"],
			"ylabel": "W_lru",
			"xlabel": "requests"
		}]
	}
}